<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../common.css">
    <link rel="stylesheet" type="text/css" href="login.css">
    <title>Login</title>
</head>

<body>
    Login Works!
</body>

<footer>
    <nav>
        <ul>
            <li>
                <a href="../../index.html">Costs</a>
            </li>
            <li>
                <a href="../addCost/addCost.html">Add Cost</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
            <li>
                <a href="../register/register.html">Register</a>
            </li>
        </ul>
    </nav>
</footer>
</html>