<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../common.css">
    <link rel="stylesheet" type="text/css" href="register.css">
    <title>Register</title>
</head>

<body>
    Register Works!
</body>

<footer>
    <nav>
        <ul>
            <li>
                <a href="../../index.html">Costs</a>
            </li>
            <li>
                <a href="../addCost/addCost.html">Add Cost</a>
            </li>
            <li>
                <a href="../login/login.html">Login</a>
            </li>
            <li>
                <a href="#">Register</a>
            </li>
        </ul>
    </nav>
</footer>
</html>